redis
hiredis
jupyter
flask
flask_restful
flask-sqlalchemy 
flask-migrate
flask-script
flask-marshmallow
kombu==4.5.0
celery
flower
marshmallow
marshmallow-sqlalchemy
sqlalchemy
sqlalchemy-utils
pillow
psycopg2
pytest
pyyaml